body{
    width: 100%;
    background: url("regis.png") ;
    background-position: center center;
    
    padding: 50px;
   

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 30;    
    font-size: 25px;
    color: brown;
    text-align:center;
}




.btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: dotted;
    border-radius: 8px; 
    color: blue;
    padding: 12px;
    font-size: 20px;
}

.btntabs{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: dotted;
    border-radius: 8px; 
    color: brown;
    padding: 12px;
    font-size: 20px;
    
}



section .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .box-wrapper {
    width: 600px;
    margin: 0 auto;
  }
  
  .box {
    background-color: antiquewhite;
 
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  }
  .box.box-border {
    box-shadow: none;
    border: 1px solid #f2f2f2;
  }
  .box .box-body {
    padding: 30px;
  }
  .box .box-body h4 {
    margin-bottom: 30px;
  }


section {
    padding-top: 20px;
    padding-bottom: 40px;
  }