<!DOCTYPE html>
<html>
	<head>
		<title>Register | Online MCQS System</title>
		<link rel="stylesheet" type="text/css" href="css/regis.css"/>
	</head>
	<body>
		<section>
			<div class="container">
				<div class="box-wrapper">				
					<div class="box box container">
						<div class="box-body">
							<form action="">
								<h1>Registration Form</h1>
								<table>
								<div><p align=centre class="btntabs">Your Name     <br>		<input type="text"  required="" id="fname" /></p></div>
								<div><p align=centre class="btntabs">Username      <br> 		<input type="text"  required="" id="username" /></p></div>
								<div><p align=centre class="btntabs">Password      <br>		<input type="password"  required="" id="password" /></p></div>			
								<div><p align=centre class="btntabs">Confirm Password <br>   <input type="password"  required="" id="password2" /></p></div>
								<div><p align=centre class="btntabs">Email Id    	<br>	<input type="email"  required="" id="email" /></p></div>
								<div><p align=centre class="btntabs">Mobile Number  <br>	<input type="number"  required="" id="mnumber" /></p></div>
								<div><p align=centre class="btntabs">Collage Id Number   <br> <input type="number"  required="" id="cidnumber" /></p></div>

								</table>

						<div class="form-group text-right"><p style="color: white; text-align:center" style="text-align:center">
							<button class="btn btn-primary btn-block" name="submit">Register</button>
						</div>
						<div text-center><p >
							Already have an account! <a href="login.html">Login </a> Here..
						</div>
					</form>





						</div>
					</div>
				</div>
			</div>
		</section>

	</body>
</html>